body { -webkit-text-fill-color: firebrick;


}

a { -webkit-text-fill-color: cyan;





a:visited { -webkit-text-fill-color: pink


}

}

a:hover { -webkit-text-fill-color: chartreuse;



}

a:focus { -webkit-text-fill-color: yellow }