* {
padding: 0;
margin: 0;


}


    div {
        width: 320px;
        height: 50px;
        padding: 10px;
        border: 5px solid cornflowerblue;
        margin: 0;
        font-family:  cursive;
        display: flex;
        justify-content: center;
        background-color: cornflowerblue;
        color: white;
        box-sizing: border-box;
        display: grid;
        grid-template-columns:  minmax(200px, 1fr);
      }
    
    body {
    height: 100vh;
    
    
    }