header {
width: 1000px;
height: 150px;
background-color: gray;
padding-left: 225px;

}

h1 {

    font-size: 30px;
    color:  black;
    text-align: center;
padding-bottom: 200px;


    }

    img {
        width: 250px;
        height: 250px;
        padding-left: 175px;


    }